<div class="wrapper">
  <div>
    <mat-form-field>
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="{{'FILTER' | translate}}">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> VIN </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'STATE' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          <span [style.color]="vehicle.state=='Available' ? 'green' : (vehicle.state=='Busy'  ? 'red' : null)">
            <mat-icon class="state-icon" *ngIf="vehicle.state=='Busy'">cancel</mat-icon>
            <mat-icon class="state-icon" *ngIf="vehicle.state=='Available'">check_circle</mat-icon>
            <span class="state"><span *ngIf="vehicle.state=='Available'"> {{'AVAILABLE' |translate}}</span>
              <span *ngIf="vehicle.state=='Busy'"> {{'BUSY' | translate}}</span>
            </span>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="regNr">
        <mat-header-cell *matHeaderCellDef mat-sort-header> RegNr </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.regNr}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{'CUSTOMER' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.customer.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>{{'ADDRESS' | translate }} </mat-header-cell>
        
        <mat-cell *matCellDef="let vehicle"> {{vehicle.customer.address }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>