.wrapper{
    width: 95%;
    margin-left: 2%;
    margin-top:1%;
}
/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  

  .state{
    position: relative;
    top: -5px;
  }
  .state-icon{
    font-size: 20px;
  }
  @media only screen and (min-device-width: 375px) 
  and (max-device-width: 667px) 
   { 
    .state-icon{
display: none;
    }

}