.menu-spacer {
    flex: 1 1 auto;
  }
  
  body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  .mat-app-background {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  @media only screen and (min-device-width: 375px) 
  and (max-device-width: 667px) 
   { 
    .welcome{
      font-size: 16px;
    }
    .fullscreen-btn{
      display: none;
    }

}