<div style="height: 90vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button class="side-btn" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="welcome">{{'HELLO' | translate}}</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button class="lang-btn" mat-icon-button [matMenuTriggerFor]="language">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #language="matMenu">
          <button class="lang-switch-en" mat-menu-item (click)="changeLang('en')">
            <span>{{'ENGLISH' | translate}}</span>
          </button>
          <button class="lang-switch-sv" mat-menu-item (click)="changeLang('sv')">
            <span>{{'SWEDISH' | translate}}</span>
          </button>
        </mat-menu>
        <button class="fullscreen-btn" mat-icon-button aria-label="Example icon-button with a menu" (click)="toggleFullScreen()">
          <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
          <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill style="height: 100%">
    <mat-sidenav #sidenav style="width: 200px">
      <mat-nav-list>
        <a class="home-list" href="#" mat-list-item>Home</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>